<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title size="small"> The Thing About Swimming... and STROKES! </ion-title>
    <ion-button slot="end" (click)="closeModal()" color="danger">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  
  
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Swimming offers tremendous fitness benefits. The Centers for Disease Control and Prevention says that just 2.5 hours of swimming per week decreases the risk of chronic illnesses. Swimming improves mood and decreases anxiety, and the buoyancy of the water makes swimming a good choice for those with arthritis and other pain conditions. Even if you have no plans to become the next Michael Phelps, basic swimming skills are easy to learn. </p>
      <p> <br> Here are some of the basic STROKES in swimming. </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="full">
    <ion-item (click)="waterComfort()" color="success" class="ion-align-items-center">
      <ion-label> 
        <ion-icon name="alert-circle-outline" size="small" class="ion-align-items-start"></ion-icon> FREESTYLE
      </ion-label>
    </ion-item>

    <ion-item (click)="breathControl()" color="success">
      <ion-label> 
        <ion-icon name="alert-circle-outline" size="small" class="ion-align-items-start"></ion-icon> BREASTSTROKE
      </ion-label>
    </ion-item>

    <ion-item (click)="floating()" color="success">
      <ion-label> 
        <ion-icon name="alert-circle-outline" size="small" class="ion-align-items-start"></ion-icon> BUTTERFLY
      </ion-label>
    </ion-item>

    <ion-item (click)="kicking()" color="success">
      <ion-label> 
        <ion-icon name="alert-circle-outline" size="small" class="ion-align-items-start"></ion-icon> BACKSTROKE
      </ion-label>
    </ion-item>

    <ion-item (click)="strokes()" color="success">
      <ion-label> 
        <ion-icon name="alert-circle-outline" size="small" class="ion-align-items-start"></ion-icon> SIDESTROKE
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>